    @{
        ViewData["Title"] = "Category";
    }

    <div class="container text-center mt-5">
        <h1>This is Category</h1>
        <br />
        <a href="/">
        <button title="Go to home" class="btn btn-primary btn-lg">
            Home
        </button>
        </a>
    </div>
